<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

   <?define CW_Ver="3" ?> 

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <!-- ?define WxWidgetsVer="295u" ?-->
   
   <Fragment>
      <!--======================================================
            Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <!-- Directory structure for CodeWarrior Development Studio for Microcontrollers V6.3 -->
         <Directory Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)"  Name="NotFound_CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)">
            <Directory Id="CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_prog" Name="prog">
               <Directory Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_prog_gdi" Name="gdi" />
            </Directory>
            <Directory Id="CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_bin" Name="bin">
               <Directory Id="CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_Plugins" Name="Plugins">
                  <Directory Id="CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_Support" Name="Support">
                     <Directory Id="CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_HCS08Wizard" Name="HC(S)08Wizard">
                        <Directory Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML" Name="XML">
                        </Directory>
                     </Directory>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
            Registry searches
      =======================================================-->
     
      <!-- Check for CodeWarrior Development Studio for Microcontrollers V6.3 -->
      <Property Id="P.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)">
         <RegistrySearch Id="Rs.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)"
                    Root="HKLM"
                    Win64="no"
                    Key="SOFTWARE\Freescale\CodeWarrior\Product Versions\CW for Microcontrollers V6.$(var.CW_Ver)"
                    Name="PATH"
                    Type="directory" />
      </Property>

      <!-- Modify default install path for CodeWarrior Development Studio for Microcontrollers V6.x -->
      <Property Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)">
         <RegistrySearchRef Id="Rs.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)" />
      </Property>
      
      <!--======================================================
            Actions
      =======================================================-->
      <!-- Patch HCS08 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateHCS08MergeCommand_V6_$(var.CW_Ver)"
         Property="Ca.MergeHCS08Command_V6_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;HCS908*.xml&quot; &quot;[D.WizardPatchData]OSBDM_Wizard_V6_$(var.CW_Ver).xml&quot; "
         Execute="immediate"/>
      <CustomAction Id="Ca.MergeHCS08Command_V6_$(var.CW_Ver)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Unpatch HCS08 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateHCS08UnMergeCommand_V6_$(var.CW_Ver)"
         Property="Ca.UnMergeHCS08Command_V6_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;HCS908*.xml.original&quot;"
         Execute="immediate"/>
      <CustomAction Id="Ca.UnMergeHCS08Command_V6_$(var.CW_Ver)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Patch MCF51 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateMCF51MergeCommand_V6_$(var.CW_Ver)"
         Property="Ca.MergeMCF51Command_V6_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;MCF51*.xml&quot; &quot;[D.WizardPatchData]OSBDM_Wizard_V6_$(var.CW_Ver).xml&quot; "
         Execute="immediate"/>
      <CustomAction Id="Ca.MergeMCF51Command_V6_$(var.CW_Ver)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Unpatch MCF51 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateMCF51UnMergeCommand_V6_$(var.CW_Ver)"
         Property="Ca.UnMergeMCF51Command_V6_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;MCF51*.xml.original&quot;"
         Execute="immediate"/>
      <CustomAction Id="Ca.UnMergeMCF51Command_V6_$(var.CW_Ver)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <InstallExecuteSequence>
          <!-- These actions set Properties used by later actions -->
          <Custom Action="Ca.CreateHCS08MergeCommand_V6_$(var.CW_Ver)"     After="CostFinalize"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.CreateHCS08UnMergeCommand_V6_$(var.CW_Ver)"   After="CostFinalize"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files=2]]></Custom>
          <Custom Action="Ca.CreateMCF51MergeCommand_V6_$(var.CW_Ver)"     After="CostFinalize"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.CreateMCF51UnMergeCommand_V6_$(var.CW_Ver)"   After="CostFinalize"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files=2]]></Custom>
          
          <!-- These actions patch or restore the various Codewarrior XML files -->
          <Custom Action="Ca.MergeHCS08Command_V6_$(var.CW_Ver)"           After="PublishProduct"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.UnMergeHCS08Command_V6_$(var.CW_Ver)"         Before="RemoveFiles">  <![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files=2]]></Custom>
          <Custom Action="Ca.MergeMCF51Command_V6_$(var.CW_Ver)"           After="PublishProduct"><![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.UnMergeMCF51Command_V6_$(var.CW_Ver)"         Before="RemoveFiles">  <![CDATA[$C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files=2]]></Custom>
      </InstallExecuteSequence>

      <!--======================================================
            Components
      =======================================================-->
     <!-- 
           USBDM Installed Marker
     -->
      <DirectoryRef Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)">
         <Component Id='C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Marker' Guid='c40bb000-c07b-45d7-9a92-1eeae9a1405f' >
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- CW for Microcontrollers support -->
      <DirectoryRef Id="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_prog_gdi">
         <Component Id='C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files' Guid='aee1836b-cdec-4c17-9ad6-41af6affb99a' >
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)MinGW_1'         DiskId='1' Source='bin\libgcc_s_dw2-1.dll' />
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)MinGW_2'         DiskId='1' Source='bin\libstdc++-6.dll' />

            <!--
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)WxWidgets_1'     DiskId='1' Source='bin\wxbase$(var.WxWidgetsVer)_gcc_custom.dll' />
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)WxWidgets_2'     DiskId='1' Source='bin\wxmsw$(var.WxWidgetsVer)_core_gcc_custom.dll' />
            -->
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_1'   DiskId='1' Source='bin\usbdm.4.dll'/>
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_1d'  DiskId='1' Source='bin\usbdm-debug.4.dll'/>
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_2'   DiskId='1' Source='bin\usbdm-system.4.dll'/>
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_2d'  DiskId='1' Source='bin\usbdm-system-debug.4.dll'/>
	    
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_3'   DiskId='1' Source='bin\opensourcebdm.dll' KeyPath='yes' />
            <File Id='CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)CommonFiles_3d'  DiskId='1' Source='bin\opensourcebdm-debug.dll' />
         </Component>
      </DirectoryRef>

      <!-- Patch HCS08 Codewarrior Wizard shortcut -->
      <DirectoryRef Id="D.ProgramMenuPatchDir">
         <Component Id='C.PatchCodewarriorWizardsMenu_HCS08_$(var.CW_Ver)' Guid='*'>
            <Shortcut Id="Sc.PatchCW_HCS08_$(var.CW_Ver)" 
               Name = "Modify Codewarrior for Microcontroller V6.$(var.CW_Ver) New Project Wizard (HCS08)"
               Target="[INSTALLDIR]mergeXml.exe"
               Description="Adds HCS08 Open Source BDM targets to Codewarrior for Microcontroller New Project Wizard"
               WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="no" 
               Arguments="-p &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;HCS908*.xml&quot; &quot;[D.WizardPatchData]OSBDM_Wizard_V6_$(var.CW_Ver).xml&quot;"/>                            
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='PatchCodewarriorWizardsMenu_HCS08_V6_$(var.CW_Ver)' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Patch CFV1 Codewarrior shortcut -->
      <DirectoryRef Id="D.ProgramMenuPatchDir">
         <Component Id='C.PatchCodewarriorWizardsMenu_CFV1_$(var.CW_Ver)' Guid='*'>
            <Shortcut Id="Sc.PatchCW_CFV1_$(var.CW_Ver)" 
               Name = "Modify Codewarrior for Microcontroller V6.$(var.CW_Ver) New Project Wizard (CFv1)"
               Target="[INSTALLDIR]mergeXml.exe"
               Description="Adds CFv1 Open Source BDM targets to Codewarrior for Microcontroller New Project Wizard"
               WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="no" 
               Arguments="-p &quot;[D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)_XML]\&quot; &quot;MCF51*.xml&quot; &quot;[D.WizardPatchData]OSBDM_Wizard_V6_$(var.CW_Ver).xml&quot;"/>                            
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='PatchCodewarriorWizardsMenu_CFV1_V6_$(var.CW_Ver)' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>
            
      <!--======================================================
            Features
      =======================================================-->
      <Feature Id='F.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)'
            Title='Microcontrollers V6.$(var.CW_Ver)'
            Description="USBDM support for CodeWarrior Development Studio for Microcontrollers V6.$(var.CW_Ver)."
            ConfigurableDirectory="D.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR P.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver)]]>
         </Condition>
         <ComponentRef Id='C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Marker' />
         <ComponentRef Id='C.CW_FOR_MICROCONTROLLERS_V6_$(var.CW_Ver).Files' />
         <ComponentGroupRef Id='Cg.PatchCodewarriorWizardsCommon' />
         <ComponentRef Id='C.PatchCodewarriorWizardsMenu_HCS08_$(var.CW_Ver)' />
         <ComponentRef Id='C.PatchCodewarriorWizardsMenu_CFV1_$(var.CW_Ver)' />
      </Feature>

   </Fragment>
</Wix>