<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

   <?define CW_Ver="1" ?> 

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <!-- ?define WxWidgetsVer="295u" ?-->
   
   <Fragment>
      <!--======================================================
            Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <!-- Directory structure for CodeWarrior Development Studio for S12(X) V5.1 -->
         <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)"  Name="NotFound_CWS12_X_V5_$(var.CW_Ver)">
            <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_prog" Name="prog">
               <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_gdi" Name="gdi" />
            </Directory>
            <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_bin" Name="bin">
               <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_Plugins" Name="Plugins">
                  <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_Support" Name="Support">
                     <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_HC12Wizard" Name="HC12Wizard">
                        <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_XML" Name="XML"/>
                        <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_DataBase" Name="DataBase">
                           <Directory Id="D.CWS12_X_V5_$(var.CW_Ver)_ini" Name="ini"/>
                        </Directory>
                     </Directory>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
            Registry searches
      =======================================================-->
     
      <!-- Check for CodeWarrior Development Studio for S12(X) V5.1 -->
      <Property Id="P.CWS12_X_V5_$(var.CW_Ver)">
         <RegistrySearch Id="Rs.CWS12_X_V5_$(var.CW_Ver)"
                    Root="HKLM"
                    Win64="no"
                    Key="SOFTWARE\Freescale\CodeWarrior\Product Versions\CWS12(X) v5.$(var.CW_Ver)"
                    Name="PATH"
                    Type="directory" />
      </Property>

      <!-- Modify default install path for CodeWarrior Development Studio for S12(X) V5.x -->
      <Property Id="D.CWS12_X_V5_$(var.CW_Ver)">
         <RegistrySearchRef Id="Rs.CWS12_X_V5_$(var.CW_Ver)" />
      </Property>
      
      <!--======================================================
            Actions
      =======================================================-->
      <!-- Patch HCS12 Device XLM-->
      <CustomAction
         Id="Ca.CreateHCS12MergeDeviceCommand_V5_$(var.CW_Ver)"
         Property="Ca.HCS12MergeDeviceCommand_V5_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CWS12_X_V5_$(var.CW_Ver)_XML]\&quot; &quot;MC9S12*.xml|MM912*.xml&quot; &quot;[D.WizardPatchData]CWHCS12_Device_5_$(var.CW_Ver).xml&quot; "
         Execute="immediate"/>
      <CustomAction Id="Ca.HCS12MergeDeviceCommand_V5_$(var.CW_Ver)"     BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Unpatch HCS12 Device XLM-->
      <CustomAction
         Id="Ca.CreateHCS12UnMergeDeviceCommand_V5_$(var.CW_Ver)"
         Property="Ca.HCS12UnMergeDeviceCommand_V5_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CWS12_X_V5_$(var.CW_Ver)_XML]\&quot; &quot;MC9S12*.xml|MM912*.xml&quot;"
         Execute="immediate"/>
      <CustomAction Id="Ca.HCS12UnMergeDeviceCommand_V5_$(var.CW_Ver)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Patch HCS12 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateHCS12MergeWizardCommand_V5_$(var.CW_Ver)"
         Property="Ca.HCS12MergeWizardCommand_V5_$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CWS12_X_V5_$(var.CW_Ver)_HC12Wizard]\&quot; &quot;wizard.xml&quot; &quot;[D.WizardPatchData]CWHCS12_Wizard_5_$(var.CW_Ver).xml&quot; "
         Execute="immediate"/>
      <CustomAction Id="Ca.HCS12MergeWizardCommand_V5_$(var.CW_Ver)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <!-- Unpatch HCS12 Wizard XLM-->
      <CustomAction
         Id="Ca.CreateHCS12UnMergeWizardCommand_V5_$(var.CW_Ver)"
         Property="Ca.HCS12UnMergeWizardCommand_V5$(var.CW_Ver)"
         Value="&quot;[INSTALLDIR]mergeXml.exe&quot; &quot;[D.CWS12_X_V5_$(var.CW_Ver)_HC12Wizard]\&quot; &quot;wizard.xml&quot;"
         Execute="immediate"/>
      <CustomAction Id="Ca.HCS12UnMergeWizardCommand_V5$(var.CW_Ver)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <InstallExecuteSequence>
          <!-- These actions set Properties used by later actions -->
          <Custom Action="Ca.CreateHCS12MergeDeviceCommand_V5_$(var.CW_Ver)"     After="CostFinalize"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.CreateHCS12UnMergeDeviceCommand_V5_$(var.CW_Ver)"   After="CostFinalize"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files=2]]></Custom>
          <Custom Action="Ca.CreateHCS12MergeWizardCommand_V5_$(var.CW_Ver)"     After="CostFinalize"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.CreateHCS12UnMergeWizardCommand_V5_$(var.CW_Ver)"   After="CostFinalize"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files=2]]></Custom>

          <!-- These actions patch or restore the various Codewarrior XML files -->
          <Custom Action="Ca.HCS12MergeDeviceCommand_V5_$(var.CW_Ver)"           After="PublishProduct"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.HCS12UnMergeDeviceCommand_V5_$(var.CW_Ver)"         Before="RemoveFiles">  <![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files=2]]></Custom>
          <Custom Action="Ca.HCS12MergeWizardCommand_V5_$(var.CW_Ver)"            After="PublishProduct"><![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files>2]]></Custom>
          <Custom Action="Ca.HCS12UnMergeWizardCommand_V5$(var.CW_Ver)"          Before="RemoveFiles">  <![CDATA[$C.CWS12_X_V5_$(var.CW_Ver).Files=2]]></Custom>
      </InstallExecuteSequence>

      <!--======================================================
            Components
      =======================================================-->
     <!-- 
           USBDM Installed Marker
     -->
      <DirectoryRef Id="D.CWS12_X_V5_$(var.CW_Ver)">
         <Component Id='C.CWS12_X_V5_$(var.CW_Ver).Marker' Guid='95ca96fa-f4e0-49b0-b3af-4051c033b06a' >
            <File Id='CWS12_X_V5_$(var.CW_Ver)_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- CW for HCS(X)12 support -->
      <DirectoryRef Id="D.CWS12_X_V5_$(var.CW_Ver)_gdi">
         <Component Id='C.CWS12_X_V5_$(var.CW_Ver).Files' Guid='0d171f50-4521-4bb2-a140-49e91c0380bd' >
            <File Id='CWS12_X_V5_$(var.CW_Ver)MinGW_1'         DiskId='1' Source='$(var.SrcDir)\bin\libgcc_s_dw2-1.dll' />
            <File Id='CWS12_X_V5_$(var.CW_Ver)MinGW_2'         DiskId='1' Source='$(var.SrcDir)\bin\libstdc++-6.dll' />

            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_1'   DiskId='1' Source='$(var.SrcDir)\bin\usbdm.4.dll'/>
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_1d'  DiskId='1' Source='$(var.SrcDir)\bin\usbdm-debug.4.dll'/>
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_2'   DiskId='1' Source='$(var.SrcDir)\bin\usbdm-system.4.dll'/>
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_2d'  DiskId='1' Source='$(var.SrcDir)\bin\usbdm-system-debug.4.dll'/>
	    
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_3'   DiskId='1' Source='$(var.SrcDir)\bin\usbdm.dll'    KeyPath='yes' />
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_3d'  DiskId='1' Source='$(var.SrcDir)\bin\usbdm-debug.dll' />
            <File Id='CWS12_X_V5_$(var.CW_Ver)CommonFiles_4'   DiskId='1' Source='$(var.SrcDir)\bin\usbdm_gdi12.dll' />
         </Component>
      </DirectoryRef>

      <DirectoryRef Id="D.CWS12_X_V5_$(var.CW_Ver)_ini">
         <Component Id='C.CWS12_X_V5_$(var.CW_Ver).ini' Guid='706f50dd-2840-4ee4-a0ca-0594ef5c232f' >
            <File Id='CWS12_X_V5_$(var.CW_Ver)_ini' DiskId='1' Source='$(var.SrcDir)\LaunchConfig\USBDM.ini' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <DirectoryRef Id="D.CWS12_X_V5_$(var.CW_Ver)_prog">
         <Component Id='C.CWS12_X_V5_$(var.CW_Ver).tgt' Guid='69991dcf-b2d8-4916-934b-070bf04d8cb2' >
            <File Id='CWS12_X_V5_$(var.CW_Ver)_tgt' DiskId='1' Source='$(var.SrcDir)\bin\usbdm.tgt' KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Patch HCS12 Codewarrior shortcut -->
      <DirectoryRef Id="D.ProgramMenuPatchDir">
         <Component Id='C.PatchCodewarriorDeviceMenu_HCS12_V5_$(var.CW_Ver)' Guid='*'>
            <Shortcut Id="Sc.PatchCW_HCS12_V5_$(var.CW_Ver)" 
               Name = "Add USBDM target to CodeWarrior for S12(X) V5.$(var.CW_Ver)"
               Target="[INSTALLDIR]mergeXml.exe"
               Description="Add USBDM target to CodeWarrior for S12(X) V5.$(var.CW_Ver) device files"
               WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="no" 
               Arguments="-p &quot;[D.CWS12_X_V5_$(var.CW_Ver)_XML]\&quot; &quot;MC9S12|MM912*.xml*.xml&quot; &quot;[D.WizardPatchData]CWHCS12_Device_5_$(var.CW_Ver).xml&quot; "/>
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='PatchCodewarriorDeviceMenu_HCS12_V5_$(var.CW_Ver)' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>


      <!--======================================================
            Features
      =======================================================-->
      <Feature Id='F.CWS12_X_V5_$(var.CW_Ver)'
            Title='S12(X) V5.$(var.CW_Ver)'
            Description="USBDM support for CodeWarrior Development Studio for S12(X) V5.$(var.CW_Ver)."
            ConfigurableDirectory="D.CWS12_X_V5_$(var.CW_Ver)"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR P.CWS12_X_V5_$(var.CW_Ver)]]>
         </Condition>
         <ComponentRef Id='C.CWS12_X_V5_$(var.CW_Ver).Marker' />
         <ComponentRef Id='C.CWS12_X_V5_$(var.CW_Ver).Files' />
         <ComponentRef Id='C.CWS12_X_V5_$(var.CW_Ver).ini' />
         <ComponentRef Id='C.CWS12_X_V5_$(var.CW_Ver).tgt' />
         <ComponentGroupRef Id='Cg.PatchCodewarriorWizardsCommon' />
         <ComponentRef Id='C.PatchCodewarriorDeviceMenu_HCS12_V5_$(var.CW_Ver)' />
      </Feature>

   </Fragment>
</Wix>