<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <?define ECLIPSE_VER="CDT_1" ?> 

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <?define P2Application="org.eclipse.equinox.p2.director" ?>
   <?define FeatureGroup="net.sourceforge.usbdm.cdt.feature.feature.group" ?>

   <Fragment>
      <!--======================================================
               Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <!-- Eclipse directory structure -->
         <Directory Id="D.$(var.ECLIPSE_VER)_APPS" Name="Apps">
            <Directory Id="D.$(var.ECLIPSE_VER)_ECLIPSE" Name="eclipse">
               <!-- Eclipse plugins -->
               <Directory Id="D.$(var.ECLIPSE_VER)_Plugins" Name="plugins"/>
               <!-- PE directory structure -->
               <Directory Id="D.$(var.ECLIPSE_VER)_ProcessorExpert" Name="ProcessorExpert">
                  <Directory Id="D.$(var.ECLIPSE_VER)_PE_Config" Name="Config">
                     <Directory Id="D.$(var.ECLIPSE_VER)_PE_Config_Compiler" Name="Compiler"/>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
               Searches
      =======================================================-->
     
      <!-- Check for presence of Eclipse -->
      <!--Property Id="P.$(var.ECLIPSE_VER)_ECLIPSE">
         <DirectorySearch Id='DirectorySearch1' Path='D.$(var.ECLIPSE_VER)_ECLIPSE' AssignToProperty="yes" />
      </Property-->

      <Property Id="P.$(var.ECLIPSE_VER)_ECLIPSE">
         <DirectorySearch Id='DirectorySearch1' Path='Apps\eclipse' AssignToProperty="yes" />
      </Property>


      <!-- Modify default install path for Eclipse -->
      <!--Property Id="D.$(var.ECLIPSE_VER)_ECLIPSE">
         <RegistrySearchRef Id="Rs.$(var.ECLIPSE_VER)_ECLIPSE" />
      </Property -->
      
      <!--=================================================================================
           Actions
      ==================================================================================-->
      <!-- Install Eclipse plugins -->
      <CustomAction
         Id="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.$(var.ECLIPSE_VER)_ECLIPSE]eclipsec&quot; -nosplash -application $(var.P2Application) -repository &quot;file:/[D.UpdateSite]\&quot; -installIU $(var.FeatureGroup)'
         Execute="immediate"/>
      <CustomAction Id="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
         
      <!-- Uninstall Eclipse plugins -->
      <CustomAction
         Id="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.$(var.ECLIPSE_VER)_ECLIPSE]eclipsec&quot; -nosplash -application $(var.P2Application) -uninstallIU $(var.FeatureGroup)'
         Execute="immediate"/>         
         
      <CustomAction Id="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
     
      <InstallExecuteSequence>
          <!--
              Install plugins
          -->
          <!-- These actions set Properties used by later actions -->
          <Custom Action="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"   After="CostFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)" After="CostFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
          <!-- These actions patch or restore the various XML files -->
          <Custom Action="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"         Before="InstallFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)"       Before="RemoveFiles"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
      </InstallExecuteSequence>
      
      <!--======================================================
               Components
      =======================================================-->
      <!-- 
           USBDM Marker
      -->
      <DirectoryRef Id="D.$(var.ECLIPSE_VER)_ECLIPSE">
         <Component Id='C.$(var.ECLIPSE_VER)_CDT.Marker' Guid='d191d010-32a5-40cb-ab67-4fcbd290b80c' >
            <File Id='F.$(var.ECLIPSE_VER)_CDT_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- 
           Processor Expert plugin support 
      -->
      <DirectoryRef Id="D.$(var.ECLIPSE_VER)_PE_Config_Compiler">
         <Component Id='C.$(var.ECLIPSE_VER)_PE_Config' Guid='43413763-3fc8-44c4-9150-db08515bbb95' >
            <File Id='F.EclipseCompiler_$(var.ECLIPSE_VER)_xlkr' DiskId='1' Source='$(var.SrcDir)\bin\net.sourceforge.usbdm.cdt.arm.toolchain.c.compiler.xlkr' KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!--======================================================
            Eclipse feature
      =======================================================-->
      <Feature Id='F.$(var.ECLIPSE_VER)'
            Title='Eclipse CDT Plugins #1'
            Description='Add USBDM support to Eclipse CDT:&#10;  - C/C++ New Project wizards&#10;  - GDB Debug interfaces&#10;  - Device Peripheral Viewer.'
            ConfigurableDirectory="D.$(var.ECLIPSE_VER)_ECLIPSE"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR P.$(var.ECLIPSE_VER)_ECLIPSE]]>
         </Condition>
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id='C.$(var.ECLIPSE_VER)_CDT.Marker' />
         <ComponentRef Id='C.$(var.ECLIPSE_VER)_PE_Config' />
         <ComponentRef Id='C.CommonFiles' />
         <ComponentRef Id='C.UsbdmGdbServer' />
         <ComponentGroupRef Id='Cg.UpdateSite' />
         <ComponentGroupRef Id='Cg.DeviceDataInstall' />
         <ComponentGroupRef Id='Cg.StationeryInstall' />
      </Feature>

   </Fragment>
</Wix>