<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <?define ECLIPSE_VER="CDT_2" ?> 

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <?define P2Application="org.eclipse.equinox.p2.director" ?>
   <?define FeatureGroup="net.sourceforge.usbdm.cdt.feature.feature.group" ?>

   <Fragment>
      <!--======================================================
               Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <!-- Apps directory structure-->
         <Directory Id="D.$(var.ECLIPSE_VER)_APPS" Name="Apps">
            <!-- Eclipse directory structure -->
            <Directory Id="D.$(var.ECLIPSE_VER)_ECLIPSE" Name="eclipse2">
               <!-- Eclipse plugins -->
               <Directory Id="D.$(var.ECLIPSE_VER)_Plugins" Name="plugins"/>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
               Searches
      =======================================================-->
     
      <!-- Look in likely locations for MCUExpresso and update directory-->
      <Property Id="D.$(var.ECLIPSE_VER)_ECLIPSE">
         <DirectorySearch Id='Ds.$(var.ECLIPSE_VER)_DirectorySearch' Path='Apps\eclipse2' AssignToProperty="yes" />
      </Property>
      
      <!--=================================================================================
           Actions
      ==================================================================================-->
      <!-- Install Eclipse plugins -->
      <CustomAction
         Id="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.$(var.ECLIPSE_VER)_ECLIPSE]eclipsec&quot; -nosplash -application $(var.P2Application) -repository &quot;file:/[D.EclipseUpdateSite]\&quot; -installIU $(var.FeatureGroup)'
         Execute="immediate"/>
      <CustomAction Id="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
         
      <!-- Uninstall Eclipse plugins -->
      <CustomAction
         Id="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.$(var.ECLIPSE_VER)_ECLIPSE]eclipsec&quot; -nosplash -application $(var.P2Application) -uninstallIU $(var.FeatureGroup)'
         Execute="immediate"/>         
         
      <CustomAction Id="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
     
      <InstallExecuteSequence>
          <!--
              Install plugins
          -->
          <!-- These actions set Properties used by later actions -->
          <Custom Action="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"   After="CostFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)" After="CostFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
          <!-- These actions patch or restore the various XML files -->
          <Custom Action="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"         Before="InstallFinalize"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)"       Before="RemoveFiles"><![CDATA[$C.$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
      </InstallExecuteSequence>
      
      <!--======================================================
               Components
      =======================================================-->
      <!-- 
           USBDM Marker
      -->
      <DirectoryRef Id="D.$(var.ECLIPSE_VER)_ECLIPSE">
         <Component Id='C.$(var.ECLIPSE_VER)_CDT.Marker' Guid='b9ce25ad-254b-4c05-bc89-de8afde8745c' >
            <File Id='F.$(var.ECLIPSE_VER)_CDT_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!--======================================================
            Eclipse feature
      =======================================================-->
      <Feature Id='F.$(var.ECLIPSE_VER)'
            Title='Eclipse CDT Plugins #2'
            Description='Add USBDM support to Eclipse CDT:&#10;  - C/C++ New Project wizards&#10;  - GDB Debug interfaces&#10;  - Device Peripheral Viewer.'
            ConfigurableDirectory="D.$(var.ECLIPSE_VER)_ECLIPSE"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR D.$(var.ECLIPSE_VER)_ECLIPSE]]>
         </Condition>
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id='C.$(var.ECLIPSE_VER)_CDT.Marker' />
         <ComponentRef Id='C.CommonFiles' />
         <ComponentRef Id='C.UsbdmGdbServer' />
         <ComponentGroupRef Id='Cg.UpdateSite' />
         <ComponentGroupRef Id='Cg.DeviceDataInstall' />
         <ComponentGroupRef Id='Cg.StationeryInstall' />
      </Feature>

   </Fragment>
</Wix>