<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <?define ECLIPSE_VER="KDS" ?> 

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <?define P2Application="org.eclipse.equinox.p2.director" ?>
   <?define FeatureGroup="net.sourceforge.usbdm.cdt.feature.feature.group" ?>

   <Fragment>
      <!--======================================================
               Directory structure
      =======================================================-->
      <DirectoryRef Id='TARGETDIR'>
         <Directory Id='D.$(var.ECLIPSE_VER)_APPS' Name="Apps">
            <!-- Kinetis Design Studio directory structure-->
            <Directory Id="D.KINETIS_DESIGN_STUDIO">
               <!-- Eclipse directory structure -->
               <Directory Id="D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse" Name="eclipse">
                  <Directory Id="D.ECLIPSE_$(var.ECLIPSE_VER)_Dropins" Name="dropins"/>
                  <!-- PE directory structure -->
                  <Directory Id="D.ECLIPSE_$(var.ECLIPSE_VER)_ProcessorExpert" Name="ProcessorExpert">
                     <Directory Id="D.ECLIPSE_$(var.ECLIPSE_VER)_PE_Config" Name="Config">
                        <Directory Id="D.ECLIPSE_$(var.ECLIPSE_VER)_PE_Config_Compiler" Name="Compiler"/>
                     </Directory>
                  </Directory>
               </Directory>
               <!-- Toolchain directory structure -->
               <Directory Id="D.KDSToolChain" Name="toolchain">
                  <Directory Id="D.KDSarm_none_eabi" Name="arm-none-eabi">
                     <Directory Id="D.KDSLib" Name="lib"/>
                  </Directory>
               </Directory>
            </Directory>
         </Directory>
      </DirectoryRef>
     
      <!--======================================================
               Registry searches
      =======================================================-->
     
      <!-- Check for presence of Kinetis Design Studio -->
      <Property Id="P.ECLIPSE_$(var.ECLIPSE_VER)_CDT">
         <RegistrySearch Id="Rs.ECLIPSE_$(var.ECLIPSE_VER)_CDT"
                    Root="HKLM"
                    Win64="no"
                    Key="SOFTWARE\SOMNIUM Technologies\Kinetis Design Studio"
                    Name="Path"
                    Type="directory" />
      </Property>

      <!-- Modify default install path for Kinetis Design Studio -->
      <Property Id="D.KINETIS_DESIGN_STUDIO">
         <RegistrySearchRef Id="Rs.ECLIPSE_$(var.ECLIPSE_VER)_CDT" />
      </Property>
      
      <!--=================================================================================
           Actions
      ==================================================================================-->
      <!-- Install Eclipse plugins -->
      <CustomAction
         Id="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse]eclipsec&quot; -nosplash -application $(var.P2Application) -repository &quot;file:/[D.UpdateSite]\&quot; -installIU $(var.FeatureGroup)'
         Execute="immediate"/>
         
      <CustomAction
         Id="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Property="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)"
         Value='&quot;[D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse]eclipsec&quot; -nosplash -application $(var.P2Application) -uninstallIU $(var.FeatureGroup)'
         Execute="immediate"/>
         
      <CustomAction Id="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"   BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
      <CustomAction Id="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

      <InstallExecuteSequence>
          <Custom Action="Ca.CreateInstallPluginsCommand_$(var.ECLIPSE_VER)"   After="CostFinalize"><![CDATA[$C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.CreateUnInstallPluginsCommand_$(var.ECLIPSE_VER)" After="CostFinalize"><![CDATA[$C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
          
          <Custom Action="Ca.InstallPluginsCommand_$(var.ECLIPSE_VER)"   Before="InstallFinalize"><![CDATA[$C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker>2]]></Custom>
          <Custom Action="Ca.UnInstallPluginsCommand_$(var.ECLIPSE_VER)" Before="RemoveFiles"><![CDATA[$C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker=2]]></Custom>
      </InstallExecuteSequence>
      
      <!--======================================================
               Components
      =======================================================-->
      <!-- 
           USBDM Marker
      -->
      <DirectoryRef Id="D.KINETIS_DESIGN_STUDIO">
         <Component Id='C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker' Guid='dff40fe6-cdc9-4771-bcb5-b7f4a830d0df' >
            <File Id='F.ECLIPSE_$(var.ECLIPSE_VER)_CDT_Marker' DiskId='1' Source='USBDM_Installed.txt' KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- 
           Processor Expert plugin support 
      -->
      <DirectoryRef Id="D.ECLIPSE_$(var.ECLIPSE_VER)_PE_Config_Compiler">
         <Component Id='C.Eclipse_$(var.ECLIPSE_VER)_PE_Config' Guid='db84fae4-f3a9-45a8-b503-c18ac8bd1724' >
            <File Id='F.EclipseCompiler_$(var.ECLIPSE_VER)_xlkr' DiskId='1' Source='$(var.SrcDir)\bin\net.sourceforge.usbdm.cdt.arm.toolchain.c.compiler.xlkr' KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- 
           Missing eclipse.ini
      -->
      <DirectoryRef Id="D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse">
         <Component Id='C.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse_ini' Guid='d575788f-8fc8-46d8-a2ca-c9be53c79496' >
            <CopyFile Id='F.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse_ini' 
              SourceProperty="D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse" 
              DestinationProperty="D.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse" 
              SourceName="kinetis-design-studio.ini"
              DestinationName="eclipse.ini"/>
         </Component>
      </DirectoryRef>
      
      <!--======================================================
            Eclipse feature
      =======================================================-->
      <Feature Id='F.KINETIS_DESIGN_STUDIO'
            Title='Kinetis Design Studio Plugins'
            Description='Add USBDM support to KDS:&#10;  - C/C++ New Project wizards&#10;  - GDB Debug interfaces&#10;  - Device Peripheral Viewer.'
            ConfigurableDirectory="D.KINETIS_DESIGN_STUDIO"
            AllowAdvertise="no"
            Level='100'>
         <Condition Level='1'>
            <![CDATA[Installed OR P.ECLIPSE_$(var.ECLIPSE_VER)_CDT]]>
         </Condition>
         <ComponentRef Id='C.ECLIPSE_$(var.ECLIPSE_VER)_Eclipse_ini' />
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id='C.ECLIPSE_$(var.ECLIPSE_VER)_CDT.Marker' />
         <ComponentRef Id='C.Eclipse_$(var.ECLIPSE_VER)_PE_Config' />
         <ComponentRef Id='C.CommonFiles' />
         <ComponentRef Id='C.UsbdmGdbServer' />
         <ComponentGroupRef Id='Cg.UpdateSite' />
         <ComponentGroupRef Id='Cg.DeviceDataInstall' />
         <ComponentGroupRef Id='Cg.StationeryInstall' />
      </Feature>

   </Fragment>
</Wix>