<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <!--?define ProductVersion="4.9.0" ?-->                        <!-- Defined on command line -->
   <?define ProductCode="17b2306b-6310-4c23-8e96-fdac4c922b3d" ?> <!-- Don't change        -->
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <!-- ?define WxWidgetsVer="295u" ?-->
   
   <Product
      Name="$(var.ProductName)"
      Id="$(var.ProductCode)"
      UpgradeCode="$(var.UpgradeCode)"
      Version="$(var.ProductVersion)"
      Manufacturer="$(var.Manufacturer)"
      Language='1033'
      Codepage='1252' >

      <Package
         Id='*'
         Keywords='Installer'
         Description="$(var.ProductName) Installer"
         Comments="$(var.ProductName) Package"
         Manufacturer="$(var.Manufacturer)"
         InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

      <Media Id='1' Cabinet="disk1.cab" EmbedCab='yes' DiskPrompt="$(var.ProductCode) Media" />

      <MajorUpgrade
         AllowDowngrades="no"
         MigrateFeatures="yes"
         DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

      <Property Id='ARPCOMMENTS'>Programmer for Freescale processors</Property>
      <Property Id='ARPURLINFOABOUT'>$(var.InfoURL)</Property>
      <Property Id='DiskPrompt' Value="$(var.ProductName) $(var.ProductVersion) Installation" />
      <Property Id="ARPPRODUCTICON" Value="ChipIcon.ico" />
<!--
      <Property Id='ARPCONTACT'>contact info</Property>
      <Property Id='ARPHELPLINK'>URL for technical support</Property>
      <Property Id='ARPURLUPDATEINFO'>URL for product updates</Property>
      <Property Id='ARPHELPTELEPHONE'>URL for technical support</Property>
      <Property Id='ARPREADME'>path</Property>
      <Property Id='ARPSIZE'>app size in kilobytes</Property>
-->
      
      <!-- Per machine -->
      <Property Id="ALLUSERS"><![CDATA[2]]></Property>

      <!--====================================================== -->
      <!--           Directory structure                         -->
      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id="D.CODESOURCERY" Name="CodeSourcery"/>

            <Directory Id='MANUFACTURER_FOLDER' Name="$(var.Manufacturer)">
               <Directory Id='INSTALLDIR' Name="$(var.ProductName) $(var.ProductVersion)">
                  <Directory Id="D.Stationery"       Name='Stationery' />
                  <Directory Id="D.DeviceData"       Name='DeviceData' />
                  <Directory Id="D.WizardPatchData"  Name='WizardPatches' />
                  <Directory Id="D.FlashImages"      Name='FlashImages' />
                  <Directory Id="D.Examples"         Name='Examples' />
                  <Directory Id="D.EclipsePlugins"   Name='EclipsePlugins' />
                  <Directory Id="D.CWEclipsePlugins" Name='CodewarriorPlugins' />
                  <Component Id='C.ApplicationDirectoryKey' Guid='*'>
                     <RegistryValue Root='HKLM' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                                    Type='string' Name='InstallationDirectory' Value="[INSTALLDIR]" KeyPath='yes' />
                  </Component>
               </Directory>
            </Directory>
         </Directory>

         <!-- Program menu folder -->
         <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="D.UsbdmProgramMenuDir" Name="$(var.ProductName) $(var.ProductVersion)">
               <Directory Id="D.ProgramMenuHelpDir"  Name="Manuals"/>
               <Directory Id="D.ProgramMenuPatchDir" Name="Codewarrior Wizard Patches"/>
            </Directory>
         </Directory>

         <!-- Desktop Folder -->
         <Directory Id="DesktopFolder" Name="Desktop" />
      </Directory>

      <!--======================================================-->
      <!--       Directory searches                             -->
      <Property Id="D.CODESOURCERY">
         <DirectorySearch Id="Ds.ProgramFilesFolder" Path="[ProgramFilesFolder]">
            <DirectorySearch Id="Ds.CODESOURCERY" AssignToProperty="yes" Path="CodeSourcery"/>
         </DirectorySearch>
      </Property>
      
      <!--======================================================-->
      <!-- Binary containing custom actions -->
      <Binary Id='MyCustomAction' SourceFile='bin\MyCustomAction.dll' />
      
      <!-- Custom action to validate install paths -->
      <CustomAction Id='CheckInstallPaths' BinaryKey='MyCustomAction' DllEntry='CheckInstallPaths@4' />
      
      <!-- Custom action to write Eclipse plugin link files -->
      <CustomAction Id='WriteLinkFiles' BinaryKey='MyCustomAction' DllEntry='WriteLinkFiles@4' />      

      <!-- Custom action to remove Eclipse plugin link files -->
      <CustomAction Id='RemoveLinkFiles' BinaryKey='MyCustomAction' DllEntry='RemoveLinkFiles@4' />      

      <InstallExecuteSequence>
         <Custom Action='WriteLinkFiles'  After='InstallFiles'/>
         <Custom Action='RemoveLinkFiles' Before='RemoveFiles'/>
      </InstallExecuteSequence>
      
      <!--======================================================-->
      <!--          Menu & Application components               -->
      <!--======================================================-->
      <!-- Program Menu Folder -->
      <DirectoryRef Id="ProgramMenuFolder">
         <Component Id="C.ProgramMenuFolder" Guid="*">
            <CreateFolder Directory='D.UsbdmProgramMenuDir'/>
            <RemoveFolder Directory='D.UsbdmProgramMenuDir' Id="RemoveProgramMenuDir" On='uninstall' />
            <RegistryValue Root='HKMU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='Version' Value="$(var.ProductVersion)" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Uninstall Menu shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.UninstallProductShortcut">
            <Shortcut Id="UninstallProduct"
                Name="Uninstall USBDM"
                Directory="D.UsbdmProgramMenuDir"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]"
                Description="Uninstall USBDM" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='UninstallProductShortcut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Program Menu Help Folder -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.ProgramMenuHelpFolder" Guid="*">
            <CreateFolder Directory="D.ProgramMenuHelpDir"/>
            <RemoveFolder Directory="D.ProgramMenuHelpDir"        Id="RemoveMenuHelpDir"        On="uninstall" />
            <RegistryValue Root='HKMU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='HelpFilesInstalled' Value="yes" KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- Program Menu Patch Codewarrior Folder -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id='C.ProgramMenuPatchDir' Guid='*'>
            <CreateFolder Directory="D.ProgramMenuPatchDir"/>
            <RemoveFolder Directory="D.ProgramMenuPatchDir"        Id="RemoveMenuPatchDir"        On="uninstall" />
            <RegistryValue Root='HKMU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='PatchCodewarriorInstalled' Value="yes" KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- Flash images folder shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.FlashShortCut">
            <Shortcut Id="FlashFolderShortcut"
               Name="BDM Flash Images" 
               Directory="D.UsbdmProgramMenuDir" 
               Target="[D.FlashImages]" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='FlashShortCut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Patch Codewarrior ReadMe file -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.WizardsReadme' Guid='*'>
            <File Id='F.ReadMeWizardTXT' DiskId='1' Source='bin\ReadMeWizard.txt'  KeyPath='yes' >
               <Shortcut Id="Sc.ReadMeWizardTXT"
                  Name="Read Me"
                  Directory="D.ProgramMenuPatchDir" 
                  WorkingDirectory='INSTALLDIR' 
                  Advertise="yes" />
            </File>
         </Component>
      </DirectoryRef>
      
      <!-- Patch Codewarrior Executable file (XML merge) -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.MergeEXE' Guid='*'>
            <File Id='F.MergeEXE' DiskId='1' Source='bin\mergeXml.exe' KeyPath='yes'/>
         </Component>
      </DirectoryRef>
      
      <!-- Codewarrior Patches Common elements and Menu items -->
      <ComponentGroup Id='Cg.PatchCodewarriorWizardsCommon'>
         <ComponentRef Id='C.ProgramMenuPatchDir' />
         <ComponentRef Id='C.MergeEXE'/>
         <ComponentRef Id='C.WizardsReadme'/>
         <ComponentRef Id='C.CommonFiles'/>
         <ComponentGroupRef Id='Cg.WizardPatchData' />
      </ComponentGroup>

      <!-- Examples folder shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.ExampleShortCut">
            <Shortcut Id="ExampleFolderShortcut"
               Name="Examples Folder" 
               Directory="D.UsbdmProgramMenuDir" 
               Target="[D.Examples]" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='ExamplesShortCut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!--====================================================== -->
      <!--         Application Components & shortcuts            -->
      <DirectoryRef Id='INSTALLDIR'>

         <Component Id='C.Programmer' Guid='67513fca-471b-4f11-9987-b7c0cc38ab9f'>
            <File Id='FlashProgrammerEXE'       DiskId='1' Source='bin\FlashProgrammer.exe' KeyPath='yes' >
               <Shortcut Id="SC_ARMProgrammer"   Directory="D.UsbdmProgramMenuDir" Name="ARM Programmer"   Arguments="-target=ARM"   WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_CFV1Programmer"  Directory="D.UsbdmProgramMenuDir" Name="CFV1 Programmer"  Arguments="-target=CFV1"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_CFVXProgrammer"  Directory="D.UsbdmProgramMenuDir" Name="CFVx Programmer"  Arguments="-target=CFVx"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_DSCProgrammer"   Directory="D.UsbdmProgramMenuDir" Name="MC56F Programmer" Arguments="-target=MC56F" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_HCS08Programmer" Directory="D.UsbdmProgramMenuDir" Name="HCS08 Programmer" Arguments="-target=HCS08" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_HCS12Programmer" Directory="D.UsbdmProgramMenuDir" Name="HCS12 Programmer" Arguments="-target=HCS12" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_RS08Programmer"  Directory="D.UsbdmProgramMenuDir" Name="RS08 Programmer"  Arguments="-target=RS08"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC_S12ZProgrammer"  Directory="D.UsbdmProgramMenuDir" Name="S12Z Programmer"  Arguments="-target=S12Z"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes"/>
            </File>
            <File Id='FlashProgrammerDebugEXE'  DiskId='1' Source='bin\FlashProgrammer-debug.exe'         />
         </Component>
         <Component Id='C.GdbServer' Guid='ea658088-dbaa-4878-a4b9-3a8eb4cbe418'>
            <File Id='GdbServerEXE' DiskId='1' Source='bin\GdbServer.exe' KeyPath='yes' >
               <Shortcut Id="SC.ARMGdbServer"   Directory="D.UsbdmProgramMenuDir"  Name="ARM GDB Server"   Arguments="-target=ARM"   WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
               <Shortcut Id="SC.CFV1GdbServer"  Directory="D.UsbdmProgramMenuDir"  Name="CFV1 GDB Server"  Arguments="-target=CFV1"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
               <Shortcut Id="SC.CFVXGdbServer"  Directory="D.UsbdmProgramMenuDir"  Name="CFVx GDB Server"  Arguments="-target=CFVx"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
            </File>
            <File Id='GdbServerDebugEXE' DiskId='1' Source='bin\GdbServer-debug.exe' />
         </Component>

         <Component Id='C.USBDMBootloader' Guid='*'>
            <File Id='FirmwareChangerEXE' DiskId='1'
               Source='bin\FirmwareChanger.exe' KeyPath='yes'>
               <Shortcut Id="startmenuUSBDM_7" Directory="D.UsbdmProgramMenuDir" Name="USBDM Firmware Updater"
                  WorkingDirectory='D.FlashImages' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.USBDMScript' Guid='*'>
            <File Id='USBDMScriptEXE' DiskId='1'
               Source='bin\USBDMScript.exe' KeyPath='yes'>
               <Shortcut Id="startmenuUSBDM_8" Directory="D.UsbdmProgramMenuDir" Name="USBDM TCL Interpreter"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.SetBoot' Guid='*'>
            <File Id='SetBootEXE' DiskId='1'
               Source='bin\SetBoot.exe' KeyPath='yes'>
               <Shortcut Id="startmenuUSBDM_10" Directory="D.UsbdmProgramMenuDir" Name="JB16 Set boot utility"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.JS16Bootloader' Guid='*'>
            <File Id='JS16BootloaderEXE' DiskId='1'
               Source='bin\JS16_Bootloader.exe' KeyPath='yes'>
               <Shortcut Id="startmenuUSBDM_11" Directory="D.UsbdmProgramMenuDir" Name="JS16 First Level Bootloader"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.ico" IconIndex="0" Advertise="yes" />
            </File>
         </Component>

      </DirectoryRef>

      <!--======================================================
               Components
      =======================================================-->

      <!-- Shared files -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.CommonFiles' Guid='7c988e6d-bf01-439a-9829-43e9cfeff9f9'>
            <File Id='CommonMinGW1'      DiskId='1' Source='bin\libgcc_s_dw2-1.dll' />
            <File Id='CommonMinGW2'      DiskId='1' Source='bin\libstdc++-6.dll' />
            <File Id='CommonMinGW3'      DiskId='1' Source='bin\pthreadGC2.dll' />
            <File Id='CommonMinGW4'      DiskId='1' Source='bin\usbdm-make.exe' />
            <File Id='CommonMinGW5'      DiskId='1' Source='bin\usbdm-rm.exe' />
            <File Id='CommonMinGW6'      DiskId='1' Source='bin\libiconv2.dll' />
            <File Id='CommonMinGW7'      DiskId='1' Source='bin\libiconv-2.dll' />
            <File Id='CommonMinGW8'      DiskId='1' Source='bin\libintl3.dll' />
            <File Id='CommonMinGW9'      DiskId='1' Source='bin\libintl-8.dll' />  
            
            <File Id='CommonWx1'         DiskId='1' Source='bin\wxbase$(var.WxWidgetsVer)_gcc_custom.dll' />
            <File Id='CommonWx2'         DiskId='1' Source='bin\wxbase$(var.WxWidgetsVer)_net_gcc_custom.dll' />
            <File Id='CommonWx3'         DiskId='1' Source='bin\wxmsw$(var.WxWidgetsVer)_adv_gcc_custom.dll' />
            <File Id='CommonWx4'         DiskId='1' Source='bin\wxmsw$(var.WxWidgetsVer)_core_gcc_custom.dll' />

            <File Id='CommonXerces1'     DiskId='1' Source='bin\libxerces-c-3-1.dll' />
            
            <File Id='CommonTcl1'        DiskId='1' Source='bin\tcl85.dll' />

            <File Id='CommonUsbdm1'      DiskId='1' Source='bin\usbdm.4.dll' KeyPath='yes' />
            <File Id='CommonUsbdm1d'     DiskId='1' Source='bin\usbdm-debug.4.dll' />
            <File Id='CommonUsbdm2'      DiskId='1' Source='bin\usbdm-dsc.4.dll' />
            <File Id='CommonUsbdm2d'     DiskId='1' Source='bin\usbdm-dsc-debug.4.dll' />
            <File Id='CommonUsbdm3'      DiskId='1' Source='bin\usbdm-tcl.4.dll' />
            <File Id='CommonUsbdm3d'     DiskId='1' Source='bin\usbdm-tcl-debug.4.dll' />
            <File Id='CommonUsbdm4'      DiskId='1' Source='bin\usbdm-wx-plugin.4.dll' />
            <File Id='CommonUsbdm4d'     DiskId='1' Source='bin\usbdm-wx-plugin-debug.4.dll' />
            <File Id='CommonUsbdm5'      DiskId='1' Source='bin\usbdm-system.4.dll' />
            <File Id='CommonUsbdm5d'     DiskId='1' Source='bin\usbdm-system-debug.4.dll' />
            <File Id='CommonUsbdm6'      DiskId='1' Source='bin\usbdm-device-database.4.dll' />
            <File Id='CommonUsbdm6d'     DiskId='1' Source='bin\usbdm-device-database-debug.4.dll' />
            <File Id='CommonUsbdm7'      DiskId='1' Source='bin\usbdm-flash-image.4.dll' />
            <File Id='CommonUsbdm7d'     DiskId='1' Source='bin\usbdm-flash-image-debug.4.dll' />
            <File Id='CommonUsbdm8'      DiskId='1' Source='bin\usbdm-gdi-dialogue.4.dll' />
            <File Id='CommonUsbdm8d'     DiskId='1' Source='bin\usbdm-gdi-dialogue-debug.4.dll' />

            <File Id='CommonInter1'       DiskId='1' Source='bin\usbdm-interface-arm.4.dll' />
            <File Id='CommonInter1d'      DiskId='1' Source='bin\usbdm-interface-arm-debug.4.dll' />
            <File Id='CommonInter2'       DiskId='1' Source='bin\usbdm-interface-cfv1.4.dll' />
            <File Id='CommonInter2d'      DiskId='1' Source='bin\usbdm-interface-cfv1-debug.4.dll' />
            <File Id='CommonInter3'       DiskId='1' Source='bin\usbdm-interface-cfvx.4.dll' />
            <File Id='CommonInter3d'      DiskId='1' Source='bin\usbdm-interface-cfvx-debug.4.dll' />
            <File Id='CommonInter4'       DiskId='1' Source='bin\usbdm-interface-dsc.4.dll' />
            <File Id='CommonInter4d'      DiskId='1' Source='bin\usbdm-interface-dsc-debug.4.dll' />
            <File Id='CommonInter5'       DiskId='1' Source='bin\usbdm-interface-hcs08.4.dll' />
            <File Id='CommonInter5d'      DiskId='1' Source='bin\usbdm-interface-hcs08-debug.4.dll' />
            <File Id='CommonInter6'       DiskId='1' Source='bin\usbdm-interface-hcs12.4.dll' />
            <File Id='CommonInter6d'      DiskId='1' Source='bin\usbdm-interface-hcs12-debug.4.dll' />
            <File Id='CommonInter7'       DiskId='1' Source='bin\usbdm-interface-jtag.4.dll' />
            <File Id='CommonInter7d'      DiskId='1' Source='bin\usbdm-interface-jtag-debug.4.dll' />
            <File Id='CommonInter8'       DiskId='1' Source='bin\usbdm-interface-rs08.4.dll' />
            <File Id='CommonInter8d'      DiskId='1' Source='bin\usbdm-interface-rs08-debug.4.dll' />
            <File Id='CommonInter9'       DiskId='1' Source='bin\usbdm-interface-s12z.4.dll' />
            <File Id='CommonInter9d'      DiskId='1' Source='bin\usbdm-interface-s12z-debug.4.dll' />
            
            <File Id='CommonProg1'       DiskId='1' Source='bin\usbdm-programmer-arm.4.dll' />
            <File Id='CommonProg1d'      DiskId='1' Source='bin\usbdm-programmer-arm-debug.4.dll' />
            <File Id='CommonProg2'       DiskId='1' Source='bin\usbdm-programmer-cfv1.4.dll' />
            <File Id='CommonProg2d'      DiskId='1' Source='bin\usbdm-programmer-cfv1-debug.4.dll' />
            <File Id='CommonProg3'       DiskId='1' Source='bin\usbdm-programmer-cfvx.4.dll' />
            <File Id='CommonProg3d'      DiskId='1' Source='bin\usbdm-programmer-cfvx-debug.4.dll' />
            <File Id='CommonProg4'       DiskId='1' Source='bin\usbdm-programmer-dsc.4.dll' />
            <File Id='CommonProg4d'      DiskId='1' Source='bin\usbdm-programmer-dsc-debug.4.dll' />
            <File Id='CommonProg5'       DiskId='1' Source='bin\usbdm-programmer-hcs08.4.dll' />
            <File Id='CommonProg5d'      DiskId='1' Source='bin\usbdm-programmer-hcs08-debug.4.dll' />
            <File Id='CommonProg6'       DiskId='1' Source='bin\usbdm-programmer-hcs12.4.dll' />
            <File Id='CommonProg6d'      DiskId='1' Source='bin\usbdm-programmer-hcs12-debug.4.dll' />
            <File Id='CommonProg8'       DiskId='1' Source='bin\usbdm-programmer-rs08.4.dll' />
            <File Id='CommonProg8d'      DiskId='1' Source='bin\usbdm-programmer-rs08-debug.4.dll' />
            <File Id='CommonProg9'       DiskId='1' Source='bin\usbdm-programmer-s12z.4.dll' />
            <File Id='CommonProg9d'      DiskId='1' Source='bin\usbdm-programmer-s12z-debug.4.dll' />
            
            <File Id='CommonMisc1'       DiskId='1' Source='bin\error.wav' />
            <File Id='CommonMisc2'       DiskId='1' Source='bin\usbdm_rc.tcl' />
         </Component>
      </DirectoryRef>

      <!-- License file -->
      <WixVariable Id="WixUILicenseRtf" 
         Value="..\licenses\GNU General Public License - GNU Project - Free Software Foundation (FSF).rtf" />

      <!-- Device data -->
      <ComponentGroup Id='Cg.DeviceDataInstall'>
         <ComponentGroupRef Id='Cg.DeviceData' /> <!-- Generated elsewhere -->
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
      </ComponentGroup>

      <!-- Device data -->
      <ComponentGroup Id='Cg.StationeryInstall'>
         <ComponentGroupRef Id='Cg.Stationery' /> <!-- Generated elsewhere -->
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
      </ComponentGroup>

      <!-- Help manual files & shortcuts -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.Manual1' Guid='*' >
            <File Id='F.ProgrammerManualCHM' DiskId='1' Source='..\Documentation\USBDM_FlashProgrammers.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_110" Directory="D.ProgramMenuHelpDir" Name="Programmer Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual2' Guid='*' >
            <File Id='F.CFJMxxCHM'           DiskId='1' Source='..\Documentation\USBDM_CF_JMxx.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_111" Directory="D.ProgramMenuHelpDir" Name="JMxx Deluxe Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual3' Guid='*' >
            <File Id='F.CFJS16CHM'           DiskId='1' Source='..\Documentation\USBDM_CF_JS16.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_112" Directory="D.ProgramMenuHelpDir" Name="JS16 (Coldfire V2-4, DSC, Kinetis) Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual4' Guid='*' >
            <File Id='F.JB16CHM'             DiskId='1' Source='..\Documentation\USBDM_JB16.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_113" Directory="D.ProgramMenuHelpDir" Name="JB16 (HCS08,HCS12,Coldfire V1) Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual5' Guid='*' >
            <File Id='F.JMxxCHM'             DiskId='1' Source='..\Documentation\USBDM_JMxx.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_114" Directory="D.ProgramMenuHelpDir" Name="JMxx (HCS08,HCS12,Coldfire V1) Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual6' Guid='*' >
            <File Id='F.JS16CHM'             DiskId='1' Source='..\Documentation\USBDM_JS16.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_115" Directory="D.ProgramMenuHelpDir" Name="JS16 (HCS08,HCS12,Coldfire V1) Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
         <Component Id='C.Manual7' Guid='*' >
            <File Id='F.FRDMCHM'           DiskId='1' Source='..\Documentation\USBDM_Freedom.chm' KeyPath="yes">
               <Shortcut Id="startmenuUSBDM_116" Directory="D.ProgramMenuHelpDir" Name="FRDM-KL25Z Manual"
                  WorkingDirectory='INSTALLDIR' Advertise="yes"/>
            </File>
         </Component>
      </DirectoryRef>

      <ComponentGroup Id='Cg.Documentation'>
         <ComponentRef Id="C.ProgramMenuHelpFolder" />
         <ComponentRef Id='C.Manual1'/>
         <ComponentRef Id='C.Manual2'/>
         <ComponentRef Id='C.Manual3'/>
         <ComponentRef Id='C.Manual4'/>
         <ComponentRef Id='C.Manual5'/>
         <ComponentRef Id='C.Manual6'/>
         <ComponentRef Id='C.Manual7'/>
      </ComponentGroup>

      <!--=================================================================================
           Features
      ==================================================================================-->
      <Feature Id='F.Complete'
              Title='USBDM $(var.ProductVersion)'
              Description='The complete package.'
              AllowAdvertise="no"
              Display='expand'
              Level='1'
              ConfigurableDirectory='INSTALLDIR'>
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id="C.UninstallProductShortcut" />
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
         <Feature Id='F.CodewarriorSupport'
               Title='CodeWarrior'
               Description='Add USBDM support to various versions of CodeWarrior software.'
               AllowAdvertise="no"
               Level='1'>
            <FeatureRef Id='F.CW_FOR_MCU_V10.5'/>
            <FeatureRef Id='F.CW_FOR_MCU_V10.6'/>
            <FeatureRef Id='F.CW_FOR_MICROCONTROLLERS_V6_3' />
            <FeatureRef Id='F.CWS12_X_V5_1' />
            <FeatureRef Id='F.CODEWARRIOR_COLDFIRE_V7_2' />
         </Feature>
         <FeatureRef Id='F.KINETIS_DESIGN_STUDIO' />
         <FeatureRef Id='F.ECLIPSE_JUNO_CDT' />
         <FeatureRef Id='F.ECLIPSE_KEPLER_CDT' />
         <FeatureRef Id='F.ECLIPSE_LUNA_CDT' />
         <Feature Id='F.Programmers'
            Title='Programmers'
            Description='Stand-alone flash programmers.'
            AllowAdvertise="no"
            Level='1'>
            <ComponentRef Id='C.Programmer' />
            <ComponentRef Id='C.CommonFiles' />
            <ComponentGroupRef Id='Cg.DeviceDataInstall'/>
         </Feature>
         <Feature Id='F.GdbServers'
            Title='GDB Servers'
            Description='USBDM GDB Servers. &#10;&#10;Socket based server for use with GNU Project Debugger (GDB).'
            AllowAdvertise="no"
            Level='1'>
            <ComponentRef Id='C.GdbServer' />
            <ComponentRef Id='C.CommonFiles' />
            <ComponentGroupRef Id='Cg.DeviceDataInstall'/>
         </Feature>
         <Feature Id='F.USBDMBootloader'
               Title='Firmware Updater'
               Description='USBDM Firmware Updater and Flash images.&#10;&#10;Needed to upgrade BDM firmware.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.USBDMBootloader' />
            <ComponentRef Id='C.CommonFiles' />
            <ComponentRef Id="C.FlashShortCut" />
            <ComponentGroupRef Id='Cg.FlashImages' />
         </Feature>
         <Feature Id='F.JS16Bootloader'
               Title='JS16 Bootloader'
               Description='JS16 Firmware Bootloader and Flash images.&#10;Only needed for intial programming of JS16 BDMs.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.JS16Bootloader' />
            <ComponentRef Id='C.CommonFiles' />
            <ComponentRef Id="C.FlashShortCut" />
            <ComponentGroupRef Id='Cg.FlashImages' />
         </Feature>
         <Feature Id='F.USBDMScript'
               Title='TCL Interpreter'
               Description='USBDM command line TCL interpreter.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.USBDMScript' />
            <ComponentRef Id='C.CommonFiles' />
         </Feature>
         <Feature Id='F.SetBoot'
               Title='JB16 Setboot utility'
               Description='Sets JB16 BDMs into ICP mode for upgrade by Freescale ICP tool.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.SetBoot' />
            <ComponentRef Id='C.CommonFiles' />
         </Feature>
         <Feature Id='F.Documentation'
               Title='Documentation'
               Description='USBDM Manuals.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentGroupRef Id='Cg.Documentation' />
         </Feature>
         <Feature Id='F.Examples'
               Title='Examples'
               Description='USBDM Examples:&#10;- Codesourcery Projects&#10;- USBDM API Demonstration Project'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef      Id='C.ExampleShortCut' />
            <ComponentGroupRef Id='Cg.Examples' />
         </Feature>
      </Feature>

      <!-- GUI Installer -->
      <UIRef Id="MyFeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Icon Id="ChipIcon.ico" SourceFile="bin\Hardware-Chip.ico" />
      <!--Icon Id="HelpIcon" SourceFile="hh.exe" /-->
   </Product>
</Wix>