<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

   <?define Manufacturer="pgo" ?>
   <?define ProductName="USBDM" ?>
   <?define ProductCode="*" ?> 
   <?define UpgradeCode="9bd8ce56-449a-4787-9c20-feb701416411" ?> <!-- Don't change        -->
   <?define InfoURL="http://usbdm.sourceforge.net" ?>
   
   <?define DescSRecord="Freescale S-Record binary file" ?>
   <?define ExplorerMenuOpen="Open" ?>

   <?define i386_Bin="i386_Bin" ?>
   <?define x86_64_Bin="x86_64_Bin" ?>

   <Product
      Name="$(var.ProductName)"
      Id="$(var.ProductCode)"
      UpgradeCode="$(var.UpgradeCode)"
      Version="$(var.ProductVersion)"
      Manufacturer="$(var.Manufacturer)"
      Language='1033'
      Codepage='1252' >

      <Package
         Id='*'
         Keywords='Installer'
         Description="$(var.ProductName) Installer"
         Comments="$(var.ProductName) Package"
         Manufacturer="$(var.Manufacturer)"
         InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' 
         Platform="x64" />

      <Media Id='1' Cabinet="disk1.cab" EmbedCab='yes' DiskPrompt="$(var.ProductCode) Media" />

      <MajorUpgrade
         AllowDowngrades="no"
         MigrateFeatures="yes"
         DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

      <Property Id='ARPCOMMENTS'>Programmer for Freescale processors</Property>
      <Property Id='ARPURLINFOABOUT'>$(var.InfoURL)</Property>
      <Property Id='DiskPrompt' Value="$(var.ProductName) $(var.ProductVersion) Installation" />
      <Property Id="ARPPRODUCTICON" Value="ChipIcon.exe" />
<!--
      <Property Id='ARPCONTACT'>contact info</Property>
      <Property Id='ARPHELPLINK'>URL for technical support</Property>
      <Property Id='ARPURLUPDATEINFO'>URL for product updates</Property>
      <Property Id='ARPHELPTELEPHONE'>URL for technical support</Property>
      <Property Id='ARPREADME'>path</Property>
      <Property Id='ARPSIZE'>app size in kilobytes</Property>
-->
      
      <!-- Per machine -->
      <Property Id="ALLUSERS"><![CDATA[2]]></Property>

      <!--====================================================== -->
      <!--           Directory structure                         -->
      <Directory Id='TARGETDIR' Name='SourceDir'>
         <Directory Id='ProgramFiles64Folder' Name='PFiles'>
            <Directory Id="D.CODESOURCERY" Name="CodeSourcery"/>

            <Directory Id='MANUFACTURER_FOLDER' Name="$(var.Manufacturer)">
               <Directory Id="D.CodewarriorUpdateSite"   Name='CodewarriorUpdateSite' />
               <Directory Id="D.EclipseUpdateSite"       Name='EclipseUpdateSite' />
               <Directory Id='INSTALLDIR' Name="$(var.ProductName) $(var.ProductVersion)">
                  <Directory Id="D.i386_Bin"             Name='i386-win-gnu' />
                  <Directory Id="D.Stationery"           Name='Stationery' />
                  <Directory Id="D.DeviceData"           Name='DeviceData' />
                  <Directory Id="D.WizardPatchData"      Name='WizardPatches' />
                  <Directory Id="D.FlashImages"          Name='FlashImages' />
                  <Directory Id="D.Examples"             Name='Examples' />
                  <Component Id='C.ApplicationDirectoryKey' Guid='*' Win64="yes">
                     <RegistryValue Root='HKLM' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                                    Type='string' Name='InstallationDirectory' Value="[INSTALLDIR]" KeyPath='yes' />
                  </Component>
               </Directory>
            </Directory>
         </Directory>

         <!-- Program menu folder -->
         <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="D.UsbdmProgramMenuDir" Name="$(var.ProductName) $(var.ProductVersion)">
               <Directory Id="D.ProgramMenuPatchDir" Name="Codewarrior Wizard Patches"/>
            </Directory>
         </Directory>

         <!-- Desktop Folder -->
         <Directory Id="DesktopFolder" Name="Desktop" />
      </Directory>

      <!--======================================================-->
      <!--       Directory searches                             -->
      <Property Id="D.CODESOURCERY">
         <DirectorySearch Id="Ds.ProgramFilesFolder" Path="[ProgramFilesFolder]">
            <DirectorySearch Id="Ds.CODESOURCERY" AssignToProperty="yes" Path="CodeSourcery"/>
         </DirectorySearch>
      </Property>
      
      <!--======================================================-->
      <!-- Binary containing custom actions -->
      <!--Binary Id='MyCustomAction' SourceFile='$(var.SrcDir)\bin\i386-win-gnu\MyCustomAction.dll' /-->
      <Binary Id='MyCustomAction' SourceFile='$(var.SrcDir)\bin\i386-win-gnu\MyCustomAction.dll' />
      <!-- Binary Id='MyCustomAction' SourceFile='$(var.SrcDir)\bin\x86_64-win-gnu\MyCustomAction.dll' /-->
      
      <!-- Custom action to validate install paths -->
      <CustomAction Id='CheckInstallPaths' BinaryKey='MyCustomAction' DllEntry='CheckInstallPaths@4' />
            
      <!--======================================================-->
      <!--          Menu & Application components               -->
      <!--======================================================-->
      <!-- Program Menu Folder -->
      <DirectoryRef Id="ProgramMenuFolder">
         <Component Id="C.ProgramMenuFolder" Guid="*">
            <CreateFolder Directory='D.UsbdmProgramMenuDir'/>
            <RemoveFolder Directory='D.UsbdmProgramMenuDir' Id="RemoveProgramMenuDir" On='uninstall' />
            <RegistryValue Root='HKMU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='Version' Value="$(var.ProductVersion)" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- On-line help -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.InternetShortcut">
         <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="USBDM Online Documentation" Target="http://usbdm.sourceforge.net/USBDM_V4.12/html/index.html"/>
         <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                        Type='string' Name='OnlineDocumentationShortcut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>
            
      <!-- Uninstall Menu shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.UninstallProductShortcut">
            <Shortcut Id="UninstallProduct"
                Name="Uninstall USBDM"
                Directory="D.UsbdmProgramMenuDir"
                Target="[SystemFolder]msiexec.exe"
                Arguments="/x [ProductCode]"
                Description="Uninstall USBDM" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='UninstallProductShortcut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>
            
      <!-- Program Menu Patch Codewarrior Folder -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id='C.ProgramMenuPatchDir' Guid='*'>
            <CreateFolder Directory="D.ProgramMenuPatchDir"/>
            <RemoveFolder Directory="D.ProgramMenuPatchDir"        Id="RemoveMenuPatchDir"        On="uninstall" />
            <RegistryValue Root='HKMU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='PatchCodewarriorInstalled' Value="yes" KeyPath='yes' />
         </Component>
      </DirectoryRef>
      
      <!-- Flash images folder shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.FlashShortCut">
            <Shortcut Id="FlashFolderShortcut"
               Name="BDM Flash Images" 
               Directory="D.UsbdmProgramMenuDir" 
               Target="[D.FlashImages]" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='FlashShortCut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!-- Patch Codewarrior ReadMe file -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.WizardsReadme' Guid='*' Win64="yes">
            <File Id='F.ReadMeWizardTXT' DiskId='1' Source='$(var.SrcDir)\bin\ReadMeWizard.txt'  KeyPath='yes' >
               <Shortcut Id="Sc.ReadMeWizardTXT"
                  Name="Read Me"
                  Directory="D.ProgramMenuPatchDir" 
                  WorkingDirectory='INSTALLDIR' 
                  Advertise="yes" />
            </File>
         </Component>
      </DirectoryRef>
      
      <!-- Patch Codewarrior Executable file (XML merge) -->
      <DirectoryRef Id="INSTALLDIR">
         <Component Id='C.MergeEXE' Guid='*' Win64="yes">
            <File Id='F.MergeEXE' DiskId='1' Source='$(var.SrcDir)\bin\x86_64-win-gnu\mergeXml.exe' KeyPath='yes'/>
         </Component>
      </DirectoryRef>
      
      <!-- Codewarrior Patches Common elements and Menu items -->
      <ComponentGroup Id='Cg.PatchCodewarriorWizardsCommon'>
         <ComponentRef Id='C.ProgramMenuPatchDir' />
         <ComponentRef Id='C.MergeEXE'/>
         <ComponentRef Id='C.WizardsReadme'/>
         <ComponentGroupRef Id='Cg.WizardPatchData' />
      </ComponentGroup>

      <!-- Examples folder shortcut -->
      <DirectoryRef Id="D.UsbdmProgramMenuDir">
         <Component Id="C.ExampleShortCut">
            <Shortcut Id="ExampleFolderShortcut"
               Name="Examples Folder" 
               Directory="D.UsbdmProgramMenuDir" 
               Target="[D.Examples]" />
            <RegistryValue Root='HKCU' Key="Software\$(var.Manufacturer)\$(var.ProductName)"
                           Type='string' Name='ExamplesShortCut' Value="" KeyPath='yes' />
         </Component>
      </DirectoryRef>

      <!--====================================================== -->
      <!--         Application Components & shortcuts            -->
      <DirectoryRef Id='INSTALLDIR'>

         <Component Id='C.UsbdmProgrammer' Guid='67513fca-471b-4f11-9987-b7c0cc38ab9f' Win64="yes">
            <File Id='UsbdmFlashProgrammerEXE' DiskId='1' Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmFlashProgrammer.exe' KeyPath='yes' >
               <Shortcut Id="SC.ARMProgrammer"   Directory="D.UsbdmProgramMenuDir" Name="ARM Programmer"   Arguments="-target=ARM"   WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.CFV1Programmer"  Directory="D.UsbdmProgramMenuDir" Name="CFV1 Programmer"  Arguments="-target=CFV1"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.CFVXProgrammer"  Directory="D.UsbdmProgramMenuDir" Name="CFVx Programmer"  Arguments="-target=CFVx"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.DSCProgrammer"   Directory="D.UsbdmProgramMenuDir" Name="MC56F Programmer" Arguments="-target=MC56F" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.HCS08Programmer" Directory="D.UsbdmProgramMenuDir" Name="HCS08 Programmer" Arguments="-target=HCS08" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.HCS12Programmer" Directory="D.UsbdmProgramMenuDir" Name="HCS12 Programmer" Arguments="-target=HCS12" WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.RS08Programmer"  Directory="D.UsbdmProgramMenuDir" Name="RS08 Programmer"  Arguments="-target=RS08"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
               <Shortcut Id="SC.S12ZProgrammer"  Directory="D.UsbdmProgramMenuDir" Name="S12Z Programmer"  Arguments="-target=S12Z"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes"/>
            </File>
            <File Id='UsbdmFlashProgrammerDebugEXE'  DiskId='1' Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmFlashProgrammer-debug.exe'         />
         </Component>
         <Component Id='C.UsbdmGdbServer' Guid='ea658088-dbaa-4878-a4b9-3a8eb4cbe418' Win64="yes">
            <File Id='UsbdmGdbServerEXE' DiskId='1' Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmGdbServer.exe' KeyPath='yes' >
               <Shortcut Id="SC.ARMGdbServer"   Directory="D.UsbdmProgramMenuDir"  Name="ARM GDB Server"   Arguments="-target=ARM"   WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
               <Shortcut Id="SC.CFV1GdbServer"  Directory="D.UsbdmProgramMenuDir"  Name="CFV1 GDB Server"  Arguments="-target=CFV1"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
               <Shortcut Id="SC.CFVXGdbServer"  Directory="D.UsbdmProgramMenuDir"  Name="CFVx GDB Server"  Arguments="-target=CFVx"  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
            <File Id='UsbdmGdbServerDebugEXE' DiskId='1' Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmGdbServer-debug.exe' />
         </Component>
         <Component Id='C.FirmwareChanger' Guid='*' Win64="yes">
            <File Id='FirmwareChangerEXE' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\FirmwareChanger.exe' KeyPath='yes'>
               <Shortcut Id="SC.FirmwareChanger" Directory="D.UsbdmProgramMenuDir" Name="USBDM Firmware Updater"
                  WorkingDirectory='D.FlashImages' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.UsbdmMemoryDump' Guid='*' Win64="yes">
            <File Id='UsbdmMemoryDumpEXE' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmMemoryDump.exe' KeyPath='yes'>
               <Shortcut Id="SC.UsbdmMemoryDump" Directory="D.UsbdmProgramMenuDir" Name="USBDM Memory Dump"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.UsbdmScript' Guid='*' Win64="yes">
            <File Id='UsbdmScriptEXE' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\UsbdmScript.exe' KeyPath='yes'>
               <Shortcut Id="SC.UsbdmScript" Directory="D.UsbdmProgramMenuDir" Name="USBDM TCL Interpreter"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.JB16_Bootloader' Guid='*' Win64="yes">
            <File Id='JB16_BootloaderEXE' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\JB16_Bootloader.exe' KeyPath='yes'>
               <Shortcut Id="SC.JB16_Bootloader" Directory="D.UsbdmProgramMenuDir" Name="JB16 Bootloader"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
         <Component Id='C.JS16_Bootloader' Guid='*' Win64="yes">
            <File Id='JS16_BootloaderEXE' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\JS16_Bootloader.exe' KeyPath='yes'>
               <Shortcut Id="SC.JS16_Bootloader" Directory="D.UsbdmProgramMenuDir" Name="JS16 Bootloader"
                  WorkingDirectory='INSTALLDIR' Icon="ChipIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
         </Component>
      </DirectoryRef>

      <!-- Bintils use with eclipse make -->
      <DirectoryRef Id='INSTALLDIR'>
         <Component Id='C.BinUtils' Guid='d4b987d1-9cb0-45b7-aba5-619ad6b74442' Win64="yes">
            <File Id='Util_cp' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\cp.exe'>
            </File>
            <File Id='Util_echo' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\echo.exe' >
            </File>
            <File Id='Util_make' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\make.exe'>
            </File>
            <File Id='Util_mkdir' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\mkdir.exe'>
            </File>
            <File Id='Util_rm' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\rm.exe' >
            </File>
            <File Id='Util_sh' DiskId='1'
               Source='$(var.SrcDir)\bin\x86_64-win-gnu\sh.exe' >
            </File>
         </Component>

      </DirectoryRef>

      <!--======================================================
               Components
      =======================================================-->

      <!-- License file -->
      <WixVariable Id="WixUILicenseRtf" 
         Value="..\licenses\GNU General Public License - GNU Project - Free Software Foundation (FSF).rtf" />

      <!-- Device data -->
      <ComponentGroup Id='Cg.DeviceDataInstall'>
         <ComponentGroupRef Id='Cg.DeviceData' /> <!-- Generated elsewhere -->
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
      </ComponentGroup>

      <!-- Common file -->
      <ComponentGroup Id='Cg.CommonFiles'>
         <ComponentGroupRef Id='Cg.i386_Bin' /> <!-- Generated elsewhere -->
         <ComponentGroupRef Id='Cg.x86_64_Bin' /> <!-- Generated elsewhere -->
         <ComponentRef      Id='C.BinUtils' />
      </ComponentGroup>

      <!-- Device data -->
      <ComponentGroup Id='Cg.StationeryInstall'>
         <ComponentGroupRef Id='Cg.Stationery' /> <!-- Generated elsewhere -->
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
      </ComponentGroup>

      <!--=================================================================================
           Features
      ==================================================================================-->
      <Feature Id='F.Complete'
              Title='USBDM $(var.ProductVersion)'
              Description='The complete package.'
              AllowAdvertise="no"
              Display='expand'
              Level='1'
              ConfigurableDirectory='INSTALLDIR'>
         <ComponentRef Id='C.ProgramMenuFolder' />
         <ComponentRef Id="C.UninstallProductShortcut" />
         <ComponentRef Id="C.InternetShortcut" />
         <ComponentRef Id='C.ApplicationDirectoryKey'/>
         <ComponentGroupRef Id='Cg.StationeryInstall' />
         <ComponentGroupRef Id='Cg.CommonFiles' />
         <Feature Id='F.CodewarriorSupport'
               Title='CodeWarrior'
               Description='Add USBDM support to various versions of CodeWarrior software.'
               AllowAdvertise="no"
               Level='1'>
            <FeatureRef Id='F.CW_FOR_MCU_V11.0'/>
            <FeatureRef Id='F.CW_FOR_MCU_V11.1'/>
            <FeatureRef Id='F.CW_FOR_MICROCONTROLLERS_V6_3' />
            <FeatureRef Id='F.CWS12_X_V5_1' />
            <FeatureRef Id='F.CWS12_X_V5_2' />
            <FeatureRef Id='F.CODEWARRIOR_COLDFIRE_V7_2' />
            <FeatureRef Id='F.CODEWARRIOR_DSC_V8_3' />
         </Feature>
         <FeatureRef Id='F.FREEMASTER_V2_0' />
         <FeatureRef Id='F.KDS_3_2_0' />
         <FeatureRef Id='F.KDS_3_0_0' />
         <FeatureRef Id='F.S32DS_1_0_0' />
         <FeatureRef Id='F.MCU_EXPRESSO' />
         <FeatureRef Id='F.CDT_AUTO' />
         <FeatureRef Id='F.CDT' />
         <Feature Id='F.UsbdmProgrammers'
            Title='Programmers'
            Description='Stand-alone flash programmers.'
            AllowAdvertise="no"
            Level='1'>
            <ComponentRef Id='C.UsbdmProgrammer' />
            <ComponentGroupRef Id='Cg.DeviceDataInstall'/>
         </Feature>
         <Feature Id='F.UsbdmGdbServers'
            Title='GDB Servers'
            Description='USBDM GDB Servers. &#10;&#10;Socket based server for use with GNU Project Debugger (GDB).'
            AllowAdvertise="no"
            Level='1'>
            <ComponentRef Id='C.UsbdmGdbServer' />
            <ComponentGroupRef Id='Cg.DeviceDataInstall'/>
         </Feature>
         <Feature Id='F.FirmwareChanger'
               Title='Firmware Updater'
               Description='USBDM Firmware Updater and Flash images.&#10;&#10;Needed to upgrade BDM firmware.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.FirmwareChanger' />
            <ComponentRef Id="C.FlashShortCut" />
            <ComponentGroupRef Id='Cg.FlashImages' />
         </Feature>
         <Feature Id='F.UsbdmMemoryDump'
               Title='Memory Dump'
               Description='Memory Dump.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.UsbdmMemoryDump' />
         </Feature>
         <Feature Id='F.UsbdmScript'
               Title='TCL Interpreter'
               Description='USBDM command line TCL interpreter.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.UsbdmScript' />
         </Feature>
         <Feature Id='F.JB16_Bootloader'
               Title='JB16 Flash update utility'
               Description='Allows the contents of the JB16 BDM&apos;s flash to be updated.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.JB16_Bootloader' />
            <ComponentRef Id="C.FlashShortCut" />
            <ComponentGroupRef Id='Cg.FlashImages' />
         </Feature>
         <Feature Id='F.JS16_Bootloader'
               Title='JS16 Flash update utility'
               Description='JS16 Firmware Bootloader and Flash images.&#10;Only needed for initial programming of JS16 BDMs.'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef Id='C.JS16_Bootloader' />
            <ComponentRef Id="C.FlashShortCut" />
            <ComponentGroupRef Id='Cg.FlashImages' />
         </Feature>
         <Feature Id='F.Examples'
               Title='Examples'
               Description='USBDM Examples:&#10;- Codesourcery Projects&#10;- USBDM API Demonstration Project'
               AllowAdvertise="no"
               Level='1'>
            <ComponentRef      Id='C.ExampleShortCut' />
            <ComponentGroupRef Id='Cg.Examples' />
         </Feature>
      </Feature>

      <!-- GUI Installer -->
      <UIRef Id="MyFeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Icon Id="ChipIcon.exe" SourceFile="$(var.SrcDir)\bin\Hardware-Chip.ico" />
      <!--Icon Id="HelpIcon" SourceFile="hh.exe" /-->
   </Product>
</Wix>
